.header-v3 .navbar-default {
    background-color: #555555;
}

.navbar {
    border-radius: 0px;
}

.header-v3 .navbar-default .navbar-nav > li > a {
    color: white;
}

.footer-v1 .copyright {
    background: #555;
}

.sky-form header {
	color: white;
	background-color: #555555;
}

.content {
	min-height: 400px;
}



